@page "/"
@namespace Jibini.SharedBase.Server.Pages
@inject NavigationManager nav
@inject IHxMessengerService toast
@inject DownloadService download
@inject ChromiumPdfService chrome

<PageTitle>Index</PageTitle>

<div class="container">

    <HxButton OnClick="@OnHtmlClick"
        Icon="@BootstrapIcon.Download"
        Color="@ThemeColor.Primary">
        HTML
    </HxButton>

    <HxButton OnClick="@OnUriClick"
        Icon="@BootstrapIcon.Download"
        Color="@ThemeColor.Secondary">
        URI
    </HxButton>

</div>

@code {
    private async Task OnHtmlClick()
    {
        try
        {
            using var pdf = await chrome.RenderPdf("<h1>Test</h1><button>Stuff</button>");
            toast.AddInformation("Successfuly created PDF");

            await download.DownloadAsync(pdf, $"HtmlPdf_{DateTime.Now:yyyyMMdd_HHmmss}.pdf");
        } catch (Exception ex)
        {
            toast.AddError(ex.Message);
        }
    }

    private async Task OnUriClick()
    {
        try
        {
            var self = nav.BaseUri.JoinUri("templates/test-pdf");

            using var pdf = await chrome.RenderPdf(new Uri(self), additionalDelay: 500);
            toast.AddInformation("Successfuly created PDF");

            await download.DownloadAsync(pdf, $"UriPdf_{DateTime.Now:yyyyMMdd_HHmmss}.pdf");
        } catch (Exception ex)
        {
            toast.AddError(ex.Message);
        }
    }
}